<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.4.0-beta1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Auth" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Auth.Common" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Auth.Module" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Common" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Database" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Database.Connection" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Iid" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.Firebase.Messaging" version="30.0.2-alpha1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Auth" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Auth.Base" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Base" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Basement" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Identity" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Plus" version="30.0.2-alpha1" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="30.0.2-alpha1" targetFramework="monoandroid51" />
</packages>